body{
    background-image: linear-gradient(to bottom, #ffffff, #dbcdf6, #c09ae6, #ae62ce, #a000af);
}

#title1{
    font-family: 'Anton', sans-serif;
}

#stock{
    font-family: 'Anton', sans-serif;
}

#footerKev{
    border: 2px solid #ffffff;
    border-radius: 40px;
    padding: 10px;
    background-color: #000000;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bi-github{
    color: #ffffff;
    margin-left: 5px;
}